/* Общие настройки */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ff69b4, #ff1493);
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Заголовки */
h1, h2, h3 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}

/* Кнопки */
button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff4500;
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

input, select {
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

/* Карточки с котами */
.cat-card {
    background-color: #ff1493;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cat-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cat-card h3 {
    text-align: center;
    font-size: 1.5em;
}

.cat-card p {
    font-size: 1.2em;
    line-height: 1.5;
}

/* Навигация */
nav {
    background-color: #ff6347;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Прочее */
footer {
    background-color: #ff1493;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
