<!DOCTYPE html>

<script src="/static/script.js"></script>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Котомэтч</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h1>Раздача котов тут</h1>
    <h2>Выбери его
        <p></p>
        <!-- <button onclick="getCats()">Показать котиков</button> -->
        <div id="cat-container"></div>
        <button onclick="getCats()">Показать котиков</button>

    </h2> 
</body>
</html>
